<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.apx.sc2brackets">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:name=".SC2BracketsApplication"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning"
            tools:replace="android:appComponentFactory"
            android:appComponentFactory="whateverString">

        <activity
                android:name=".activities.PlayerProfileActivity"
                android:parentActivityName=".activities.BracketActivity"
                tools:targetApi="jelly_bean">
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".activities.BracketActivity"/>
        </activity>

        <activity
                android:name=".activities.BracketActivity"
                android:label="@string/app_name"
                android:theme="@style/AppTheme.NoActionBar"
                android:parentActivityName=".activities.MainActivity"
                android:launchMode="singleTop"
                tools:targetApi="jelly_bean">
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".activities.MainActivity"/>

        </activity>

        <activity android:name=".activities.MainActivity"
                  android:launchMode="singleTop"
                  android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>